<div class="input-group mb-3 input-width" @attributes=OtherAttributes>
    <input type="text" class="form-control" placeholder="Search Servers"
           @bind-value="serverToFind"
           @bind-value:event="oninput" />
    <button class="btn btn-outline-secondary" type="button" id="button-search"
            @onclick="HandleSearch">
        Search
    </button>
</div>

@code {

    private string serverToFind = string.Empty;

    [Parameter]
    public EventCallback<string> SearchCallback { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? OtherAttributes { get; set; }

    private void HandleSearch()
    {        
        SearchCallback.InvokeAsync(serverToFind);
    }

    public void ClearSearch()
    {
        serverToFind = string.Empty;
    }
}
